catboost==1.2.10
joblib==1.6.0
lightgbm==4.7.0
matplotlib==3.11.1
numpy==2.5.2
onnx==1.22.0
onnxmltools==1.16.0
onnxruntime==1.29.0
optuna==4.9.0
pandas==3.0.5
psutil==7.2.2
scikit-learn==1.9.0
skl2onnx==1.20.0
xgboost==3.4.1
